@model MoviesLibrary.Web.Models.SharedViewModel
<h4>@Model.ResultById.OriginalTitle</h4>
<img src=@("https://image.tmdb.org/t/p/original"+@Model.ResultById.PosterPath) width="200" height="300" alt=" " />
<p><b>Original language: </b>@Model.ResultById.OriginalLanguage</p>
<p> <b>Genres: </b> 
    @for (int genre = 0; genre < Model.ResultById.Genres.Count ; genre++)
    {
        @Model.ResultById.Genres[genre].Name
        if (genre < Model.ResultById.Genres.Count-1)
        {
            @(", ")
        }
    }
 </p>
<p><b>Description: </b>@Model.ResultById.Overview</p>
<p><b>Popularity: </b>@Model.ResultById.Popularity</p>
<p><b>Release Date: </b>@Model.ResultById.ReleaseDate</p>
<p><b>Average Vote: </b>@Model.ResultById.VoteAverage</p>
<p><b>Count of Votes: </b>@Model.ResultById.VoteCount</p>
<br />



@if (Model.ResultById.Videos.Results.Count > 0)
{
    <iframe width="560" height="315"
            src=@("https://www.youtube.com/embed/"+Model.ResultById.Videos.Results[0].Key) title="YouTube video player" frameborder="0" allow="accelerometer;
            autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <br />
    <br />
}

@if (Model.IsInFavourite)
{
    <form method="POST">
        <input type="hidden" name="movie" value=@Model.ResultById.Id />
        <button type="submit" class="btn btn-outline-info" asp-route-isInFavourite=@true asp-controller="FavMovies" asp-action="RemoveFromFavourite">Remove from favourite</button>
    </form>
}
else
{

    <h6>If you liked the movie, you can add it to your favorites</h6>
    <form method="POST" id="favouriteForm">
        <input type="hidden" name="movieTitle" value=@Model.ResultById.Id />
        <button type="submit" class="btn btn-outline-info" asp-route-isInFavourite=@false asp-controller="MovieResult" asp-action="AddToFavourite">Add to favourite</button>
    </form>

}
<br />
<br />

<form method="post">
    <h4>Add a comment</h4>
    <input type="text" class="form-control" name="comment" required placeholder="Type your comment here" /><br />
    <input type="hidden" name="movie" value=@Model.ResultById.Id />
    <input type="hidden" name="isInFavourite" value=@Model.IsInFavourite />
    <input type="submit" class="btn btn-outline-info" value="Add" asp-route-isInFavourite=@Model.IsInFavourite asp-controller="MovieResult" asp-action="AddComment" /><br /><br />
</form>

@for (int i = 0; i < Model.MovieComments.Count; i++)
{

    <h6>@Model.MovieComments[i].UserName</h6>
    <p style="display:block">@Model.MovieComments[i].Body</p>
    if (!Model.EditComment)
    {
        <form method="post">
            <input type="hidden" name="commentId" value=@Model.MovieComments[i].Id />
            <input type="hidden" name="userName" value=@Model.MovieComments[i].UserName />
            <input type="hidden" name="movie" value=@Model.MovieComments[i].MovieTitle />
            <input type="submit" class="btn btn-outline-success" value="Edit" asp-route-isInFavourite=@Model.IsInFavourite asp-route-editComment=@true asp-controller="MovieResult" asp-action="EditComment" />
            <input type="submit" class="btn btn-outline-danger" value="Delete" asp-route-isInFavourite=@Model.IsInFavourite asp-controller="MovieResult" asp-action="DeleteComment" /><br /><br />
        </form>
    }
    else
    {
        <form method="post">
            <input type="text" class="form-control" name="commentBody" required />
            <input type="hidden" name="commentId" value=@Model.MovieComments[i].Id />
            <input type="hidden" name="userName" value=@Model.MovieComments[i].UserName />
            <input type="hidden" name="movie" value=@Model.MovieComments[i].MovieTitle />
            <input type="submit" class="btn btn-outline-info" value="Save" asp-controller="MovieResult" asp-route-isInFavourite=@Model.IsInFavourite asp-action="SaveEditedComment" /><br /><br />

        </form>
    }


}