@model MoviesLibrary.Web.ViewModels.MovieResultViewModel
<h4>@Model.ResultById.OriginalTitle</h4>
<img src=@("https://image.tmdb.org/t/p/original"+@Model.ResultById.PosterPath) width="200" height="300" alt=" " />
<p><b>Original language: </b>@Model.ResultById.OriginalLanguage</p>
<p><b>Description: </b>@Model.ResultById.Overview</p>
<p><b>Popularity: </b>@Model.ResultById.Popularity</p>
<p><b>Release Date: </b>@Model.ResultById.ReleaseDate</p>
<p><b>Average Vote: </b>@Model.ResultById.VoteAverage</p>
<p><b>Count of Votes: </b>@Model.ResultById.VoteCount</p>
<br />

@if (Model.ResultById.Videos.Results.Count > 0)
{
<iframe width="560" height="315"
        src=@("https://www.youtube.com/embed/"+Model.ResultById.Videos.Results[0].Key) title="YouTube video player" frameborder="0" allow="accelerometer;
            autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
}


<form method="POST">
    <input type="hidden" name="movieTitle" value=@Model.ResultById.Id />
    @*<button type="submit" class="btn btn-outline-info" asp-controller="Categories" asp-action="AddToFavourite">Add to favourite</button>*@
    <button type="submit" class="btn btn-outline-info" asp-controller="MovieResult" asp-action="AddToFavourite">Add to favourite</button>
</form>
<br />
<br />

<form method="post">
    @*<label>Add a comment</label><br />*@
    <h4>Add a comment</h4>
    <input type="text" class="form-control" name="comment" /><br />
    <input type="hidden" name="movie" value=@Model.ResultById.Id />
    <input type="submit" class="btn btn-outline-info" value="Add" asp-controller="MovieResult" asp-action="AddComment" /><br /><br />
</form>
@for (int i = 0; i < Model.MovieComments.Count; i++)
{
    <h6>@Model.MovieComments[i].UserName</h6>
    <p>@Model.MovieComments[i].Body</p>
}